@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FDFDFD;
  --background: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
