@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FDFDFD;
  --background: #1E1E1E;
  --cardbg: #F1F0F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
    --cardbg: #0a0a0a;
  }
}

@media (min-height: 600px) {
  .custom-height-1 {
    margin-top: -10rem;
  }
}

@media (min-height: 740px) {
  .custom-height-2 {
    margin-top: -11.5rem;
  }
}

@media (min-height: 750px) {
  .custom-height-3 {
    margin-top: -12.5rem;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
